[Unit]
Description=Servicio Bot del alumno20.
After=network.service

[Service]
Type=simple
ExecStart=/usr/bin/ruby /usr/local/bin/bot20d

[Install]
WantedBy=multi-user.target


